@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.navbar,
.nav-link {
  display: flex;
}

.primary-text,
.nav-link li a,
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
}

.heading-1,
.banner-content h2,
.prodcast-content h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

/* Nav bar style */
.navbar {
  max-width: 1600px;
  height: 92px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  display: flex;
  

}


.nav-menu{

width: 100%;

}

#brand-logo{
  display: flex;
  justify-content: space-between; 
  align-items: center;
 width: 100%;
 padding: 4px 20px;

  
}

.hamburger {
  height: 28px;
  cursor: pointer;
  display: none; 
}

.nav-link {
  list-style: none;
  gap: 32px;
}
.nav-link a {
  text-decoration: none;
}

header {
  background-color: rgba(26, 11, 46, 1);
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.primary-btn,
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  font-style: bold;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

/* banner style */

.banner {
  width: 100%;
  max-width: 1600px;
  height: 760px;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-circle {
  position: absolute;
  margin-left: 580px;
  margin-top: 101px;
}

.mike {
  position: absolute;
  margin-left: 700px;
  margin-top: 175px;
}

.banner-content {
  margin-top: 491px;
  position: absolute;
  max-width: 1600px;
  width: 100%;
}
.banner-content p {
  text-align: center;
}

.banner-content h2 {
  text-align: center;

  margin-bottom: 8px;
}

.double-btn {
  display: flex;
  margin-top: 24px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.btn-3 {
  color: #00ff88;
  background-color: transparent;
  border: 1px solid #00ff88;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.badge button {
  background-color: #00ff88;
  color: #1a0b2e;
  border-radius: 10000px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  margin-left: 840px;
  margin-top: 121px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}

.prodcast {
  max-width: 1600px;
  height: 646px;
  background-color: rgba(26, 11, 46, 1);
}

#prodcast-content {
  padding: 50px 200px 120px 200px;
  margin: 0 auto;
  text-align: center;
}
#prodcast-content p {
  margin-top: 8px;
  padding: 0 180px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.listeners {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}
.review-card {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.feature {
  max-width: 1600px;
  padding: 120px 200px 120px 200px;
  background: rgba(35, 14, 61, 1);
}
.grid-card {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
}

.grid-card h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

#audio {
  grid-area: audio;
}
#mobile {
  grid-area: mobile;
}
#global {
  grid-area: global;
}
#interview {
  grid-area: interview;
}
#resource {
  grid-area: resource;
}

.grid-card-container {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "audio mobile mobile"
    "audio global global "
    "interview interview resource";
}

#audio {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}

.grid-feature h2 {
  text-align: center;
  margin-bottom: 40px;
}

.episode {
  max-width: 1600px;
  height: 1276px;
  background-color: rgba(26, 11, 46, 1);
  padding: 120px 200px 120px 200px;
}

.episode-card-1 h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.episode-card-1 {
  border-radius: 24px;
  background: rgba(37, 13, 68, 1);
  padding-left: 10px;
  padding-right: 10px;
}
.time p {
  color: #00ff88;
}
.time {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 6px;
}
.episode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.episode h2 {
  text-align: center;
  margin-bottom: 40px;
}

.host h2 {
  margin-top: 120px;
}

.alex-container {
  display: flex;
  gap: 24px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.alex-content h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

.alex-icon img{

  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50px;
  padding: 2px;
  
  
}

.alex-content p {
  opacity: 0.6;
  margin-top: 16px;
  margin-bottom: 16px;
}

footer {
  max-width: 1600px;
  width: 100%;
  height: 412px;
  background-image: url(assets/footer-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-logo img {
  margin-top: 150px;
  margin-left: 520px;



}

.footer-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.footer-icon {
  margin-top: 20px;
}
.footer-icon li {
  list-style: none;
}
.footer-icon a {
  text-decoration: none;
}

.footer-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(250, 250, 250, 1);
  opacity: 0.6;
  text-align: center;
  margin-top: 30px;
}

.hide{
  display: none;!important
}

@media screen and (max-width:576px) {

  .footer-logo img{
    width: 50%;
  margin-top: 40px;
  margin-left: 110px;
  }

  .footer-container{

 
   
   height: auto;
  
    background-image: url(assets/Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-icon ul{
  
flex-wrap: wrap;
gap: 20px;
  
}
.footer-icon li{
  
flex: 0 0 calc(50% - 10px);
}

.episode-container, .alex-container, .episode-container
{
  flex-direction: column;
  
}

.episode{
  padding: 2px;
  height: auto;
}

.alex-content h3{

  text-align: center;
}
.alex-content p{

  text-align: center;
}

.alex-icon {

display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}


.episode h2{
font-size: 2rem;
margin-top: 40px;
}

.feature{
  padding: 5px;
 
}

#audio, #mobile {
  display: ;

 
}
.grid-card-container {


  grid-template-areas:
    "audio"
    "mobile"
    "global"
    "interview"
    "resource"
    ;
}

.heading-1, .banner-content h2, .prodcast-content h2{

  font-size: 2rem;
  margin-top: 40px;
}



.hero-circle {
  
  margin-left: 50px;
  
}



.mike {
  position: absolute;
  margin-left: 160px;
  margin-top: 175px;
}

.badge button {
  
  position: absolute;
  margin-left: 300px;
  margin-top: 121px;
  
}

.nav-menu, .primary-btn{
  display: none;
}

.hamburger {
    display: block; 
  }

#prodcast-content{
  padding: 5px;
}

#prodcast-content p{

  padding: 5px;
}

.review-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  gap: 10px;
  align-items: center;
  justify-content: center;
margin-left: 60px;


}

  }
  
