@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.navbar,
.nav-link {
  display: flex;
}

.primary-text,
.nav-link li a,
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
}

.heading-1,
.banner-content h2,
.prodcast-content h2 {
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}

/* Nav bar style */
.navbar {
  max-width: 1600px;
  height: 92px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.nav-link {
  list-style: none;
  gap: 32px;
}
.nav-link a {
  text-decoration: none;
}

header {
  background-color: rgba(26, 11, 46, 1);
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.tech {
  color: #ffffff;
}
.wave {
  color: rgba(251, 9, 180, 1);
}

.primary-btn,
.btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  font-style: bold;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

/* banner style */

.banner {
  width: 100%;
  max-width: 1600px;
  height: 760px;
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-circle {
  position: absolute;
  margin-left: 580px;
  margin-top: 101px;
}

.mike {
  position: absolute;
  margin-left: 700px;
  margin-top: 175px;
}

.banner-content {
  margin-top: 491px;
  position: absolute;
}
.banner-content h2 {
  text-align: center;

  margin-bottom: 8px;
}

.double-btn {
  display: flex;
  margin-top: 24px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.btn-3 {
  color: #00ff88;
  background-color: transparent;
  border: 1px solid #00ff88;
  border-radius: 10000px;
  gap: 8px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.badge button {
  background-color: #00ff88;
  color: #1a0b2e;
  border-radius: 10000px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  margin-left: 840px;
  margin-top: 121px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}

.prodcast {
  max-width: 1600px;
  height: 646px;
  background-color: rgba(26, 11, 46, 1);
}

#prodcast-content {
  padding: 50px 200px 120px 200px;
  margin: 0 auto;
  text-align: center;
}
#prodcast-content p {
  margin-top: 8px;
  padding: 0 180px;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.listeners {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}
.review-card {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.feature {
  max-width: 1600px;
  padding: 120px 200px 120px 200px;
  background: rgba(35, 14, 61, 1);
}
.grid-card {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
}

.grid-card h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.grid-card-container {
  display: grid;

  gap: 30px;
  grid-template-areas:
    'audio mobile mobile'
    'audio global global '
    'interview interview resource';
}

#audio {
  grid-area: audio;
}
#mobile {
  grid-area: mobile;
}
#global {
  grid-area: global;
}
#interview {
  grid-area: interview;
}
#resource {
  grid-area: resource;
}

.grid-feature h2 {
  text-align: center;
  margin-bottom: 40px;
}

.episode {
  max-width: 1600px;
  height: 1276px;
  background-color: rgba(26, 11, 46, 1);
  padding: 120px 200px 120px 200px;
}

.episode-card-1 h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.episode-card-1 {
  border-radius: 24px;
  background: rgba(37, 13, 68, 1);
  padding-left: 10px;
  padding-right: 10px;
}
.time p {
  color: #00ff88;
}
.time {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 6px;
}
.episode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.episode h2 {
  text-align: center;
  margin-bottom: 40px;
}

.host h2 {
  margin-top: 120px;
}

.alex-container {
  display: flex;
  gap: 24px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.alex-content h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

.alex-content p {
  opacity: 0.6;
  margin-top: 16px;
  margin-bottom: 16px;
}
